*.ini
auth_file.txt
agol.auth
agol.txt
*.csv
*.zip
auth_file.config
auth_sql.config
auth_agol.config
config_jm.ini
*.docx
*.docx
*.docx
srcdb_backup
Documentation/DataSynchronization_Instructions.docx
